<h2 mat-dialog-title>
  <mat-icon>list</mat-icon>
  Tipos de plano
</h2>
<mat-form-field [formGroup]="formulario" class="formCriarTipo">
  <mat-label>{{labelCampoNomeTipo}} <span class="requerido">*</span> </mat-label>
  <input type="hidden" formControlName="id">
  <input matInput placeholder="Nome do tipo" formControlName="desc" autofocus="false">
  <button #btnCriar matSuffix class="btnCriarTipo" (click)="onSalvarTipo()">
    <mat-icon>check</mat-icon>
    SALVAR
  </button>
  <mat-error>Este campo é obrigatório</mat-error>
</mat-form-field>
<mat-dialog-content>
  <mat-progress-bar *ngIf="statusBarraCarregamento === true || tiposPlanoService.listaTipos === undefined"
    mode="indeterminate"></mat-progress-bar>
  <table class="tabelaTipos" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="desc">
      <th width="60%" mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
    </ng-container>
    <ng-container matColumnDef="remover">
      <th width="40%" mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button class="btnEditarTipo" mat-button (click)="onModoEditar(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="btnRemoverTipo" mat-button (click)="onRemoverTipo(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btnCancelar">
    <mat-icon>close</mat-icon>
    FECHAR
  </button>
</mat-dialog-actions>