<mat-expansion-panel hideToggle="true" class="itemListaPlanos" [ngStyle]="setSemaforo()">
  <mat-expansion-panel-header>
    <mat-panel-description class="gridItemListaPlanos">
      <div class="mudarOrdem">
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <div class="infoPlano">
        <div class="tituloPlano">{{value.titulo}}</div>
        <div class="statusPlano" [ngSwitch]="value.statusAndamento">
          <mat-icon>history</mat-icon>
          <span *ngSwitchCase="1">Iniciado</span>
          <span *ngSwitchCase="2">Concluido</span>
          <span *ngSwitchCase="3">Suspendido</span>
          <span *ngSwitchCase="4">Finalizado</span>
          <span *ngSwitchDefault>Aguardando início</span>
        </div>
        <div *ngIf="dataInicio && dataTermino" class="periodoPlano">
          <mat-icon>date_range</mat-icon>
          De {{dataInicio | date:'dd/MM/yyyy'}} até {{dataTermino | date:'dd/MM/yyyy'}}.
        </div>
        <div *ngIf="!dataInicio && !dataTermino" class="periodoPlano">
          <mat-icon>date_range</mat-icon> Sem prazo definido.
        </div>
        <div *ngIf="dataInicio && !dataTermino" class="periodoPlano">
          <mat-icon>date_range</mat-icon> Iniciar em {{dataInicio | date:'dd/MM/yyyy'}}.
        </div>
        <div *ngIf="!dataInicio && dataTermino" class="periodoPlano">
          <mat-icon>date_range</mat-icon> Concluir até {{dataTermino | date:'dd/MM/yyyy'}}.
        </div>
      </div>
      <div class="infoResponsavel">
        <div class="info hide-ss">
          <ul>
            <li>{{responsavel === undefined ? 'Carregando dado...' : responsavel.nome}}</li>
            <li><a
                href="mailto:{{responsavel === undefined ? '#' : responsavel.email}}">{{responsavel === undefined ? 'Carregando dado...' : responsavel.email}}</a>
            </li>
          </ul>
        </div>
        <img #avatarResponsavel src="{{responsavel === undefined ? '#' : responsavel.avatar}}" alt="Colaborador"
          title="Vanderley Junior" (error)="onErrorAvatar(avatarResponsavel)">
      </div>
      <div class="acoesPlano">
        <button mat-button [matMenuTriggerFor]="menuOpcoes">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuOpcoes="matMenu">
          <button mat-menu-item (click)="onEditarPlano()">
            <mat-icon>edit</mat-icon>
            Editar
          </button>
          <button mat-menu-item [matMenuTriggerFor]="menuStatus">
            <mat-icon>update</mat-icon>
            Mudar status:
          </button>
          <button mat-menu-item (click)="onRemoverPlano()">
            <mat-icon>delete</mat-icon>
            Remover
          </button>
        </mat-menu>

        <mat-menu #menuStatus="matMenu">
          <button mat-menu-item (click)="onAlterarStatusPlano(1)">
            <mat-icon>play_circle_outline</mat-icon>
            Iníciar
          </button>
          <button mat-menu-item (click)="onAlterarStatusPlano(2)">
            <mat-icon>done</mat-icon>
            Concluir
          </button>
          <button mat-menu-item (click)="onAlterarStatusPlano(3)">
            <mat-icon>pause_circle_outline</mat-icon>
            Suspender
          </button>
          <button mat-menu-item (click)="onAlterarStatusPlano(4)">
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
        </mat-menu>

      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div class="containerSubPlanos" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let plano of subPlanos" cdkDragBoundary=".containerSubPlanos" cdkDragLockAxis="y" cdkDrag>
            <app-item-lista [value]="plano"></app-item-lista>
        </div>
    </div>
  </ng-template>
</mat-expansion-panel>