<mat-expansion-panel hideToggle="true" class="itemListaPlanos">
  <mat-expansion-panel-header>
    <mat-panel-description class="gridItemListaPlanos">
      <div class="mudarOrdem">
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <div class="infoPlano">
        <h1>{{value.titulo}}</h1>
        <h2>{{value.statusAndamento ? value.statusAndamento : 'Aguardando início.'}}</h2>
        <p>{{value.dataInicio ? value.dataInicio : 'Inderteminado'}} até {{value.dataTermino ? value.dataTermino : 'Inderteminado.'}}</p>
      </div>
      <div class="infoResponsavel">
        <div class="info hide-ss">
          <ul>
            <li>{{responsavel === undefined ? 'Carregando dado...' : responsavel.nome}}</li>
            <li><a href="mailto:{{responsavel === undefined ? '#' : responsavel.email}}">{{responsavel === undefined ? 'Carregando dado...' : responsavel.email}}</a></li>
          </ul>
        </div>
        <img #avatarResponsavel src="{{responsavel === undefined ? '#' : responsavel.avatar}}" alt="Colaborador" title="Vanderley Junior" (error)="onErrorAvatar(avatarResponsavel)">
      </div>
      <div class="acoesPlano">
        <button mat-button [matMenuTriggerFor]="menu1">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            Editar
          </button>
          <button mat-menu-item>
            <mat-icon>update</mat-icon>
            Mudar status:
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            remover
          </button>
        </mat-menu>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <app-item-lista *ngFor="let plano of subPlanos" [value]="plano" cdkDrag></app-item-lista>
    </div>
  </ng-template>
</mat-expansion-panel>