<mat-expansion-panel hideToggle="true" class="itemListaPlanos">
  <mat-expansion-panel-header>
    <mat-panel-description class="gridItemListaPlanos">
      <div class="mudarOrdem">
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <div class="infoPlano">
        <div class="tituloPlano">{{value.titulo}}</div>
        <div class="statusPlano">
          <mat-icon>history</mat-icon>
          {{value.statusAndamento ? value.statusAndamento : 'Aguardando início...'}}
        </div>
        <div class="periodoPlano">
          <mat-icon>date_range</mat-icon>
          {{value.dataInicio ? value.dataInicio : 'Inderteminado'}} até
          {{value.dataTermino ? value.dataTermino : 'Inderteminado.'}}
        </div>
      </div>
      <div class="infoResponsavel">
        <div class="info hide-ss">
          <ul>
            <li>{{responsavel === undefined ? 'Carregando dado...' : responsavel.nome}}</li>
            <li><a
                href="mailto:{{responsavel === undefined ? '#' : responsavel.email}}">{{responsavel === undefined ? 'Carregando dado...' : responsavel.email}}</a>
            </li>
          </ul>
        </div>
        <img #avatarResponsavel src="{{responsavel === undefined ? '#' : responsavel.avatar}}" alt="Colaborador"
          title="Vanderley Junior" (error)="onErrorAvatar(avatarResponsavel)">
      </div>
      <div class="acoesPlano">
        <button mat-button [matMenuTriggerFor]="menuOpcoes">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuOpcoes="matMenu">
          <button mat-menu-item (click)="onEditarPlano()">
            <mat-icon>edit</mat-icon>
            Editar
          </button>
          <button mat-menu-item [matMenuTriggerFor]="menuStatus">
            <mat-icon>update</mat-icon>
            Mudar status:
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            remover
          </button>
        </mat-menu>

        <mat-menu #menuStatus="matMenu">
          <button mat-menu-item>
            <mat-icon>play_circle_outline</mat-icon>
            Iníciar
          </button>
          <button mat-menu-item>
            <mat-icon>done</mat-icon>
            Concluir
          </button>
          <button mat-menu-item>
            <mat-icon>pause_circle_outline</mat-icon>
            Suspender
          </button>
          <button mat-menu-item>
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
        </mat-menu>

      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <app-item-lista *ngFor="let plano of subPlanos" [value]="plano" cdkDrag></app-item-lista>
    </div>
  </ng-template>
</mat-expansion-panel>