<h2 mat-dialog-title>Cadastrar plano</h2>
<mat-dialog-content class="formCriarPlano">
  <mat-tab-group>
    <mat-tab label="GERAL">
      <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile class="itemForm">
          <mat-form-field>
            <mat-label>Nome (o que?) <span class="requirido">*</span></mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Tipo do plano  <span class="requirido">*</span></mat-label>
            <mat-select>
              <mat-option value="1">--</mat-option>
              <mat-option value="2">TESTE</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="true">Please choose an animal</mat-error> -->
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Responsável (quem?)  <span class="requirido">*</span></mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="dataPlano">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dataInicio" placeholder="Início">
            <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio></mat-datepicker>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field class="dataPlano">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dataFinal" placeholder="Término">
            <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
            <mat-datepicker #dataFinal></mat-datepicker>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Pertence ao plano</mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="DETALHES">
      <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile class="itemForm">
          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Pessoas interessadas</mat-label>
            <mat-select multiple>
              <mat-option value="1">TESTE 1</mat-option>
              <mat-option value="2">TESTE 2</mat-option>
              <mat-option value="3">TESTE 3</mat-option>
              <mat-option value="4">TESTE 4</mat-option>
            </mat-select>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Custo estimado</mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btnCancelar">
    <mat-icon>close</mat-icon>
    CANCELAR
  </button>
  <button mat-button [mat-dialog-close]="true" class="btnSalvar">
    <mat-icon>check</mat-icon>
    SALVAR
  </button>
</mat-dialog-actions>