<div *ngIf="statusBarraCarregamento === true" class="centerItemContainer" cdkDropList
  (cdkDropListDropped)="drop($event)">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="centerItemContainer">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <div class="tituloContainer">
        <mat-icon>traffic</mat-icon>
        <h4>Visão geral do status dos planos</h4>
      </div>
    </mat-expansion-panel-header>
    <ul class="semaforo">
      <li class="itemSemaforo planosAndamento">
        <div class="tituloItemSemaforo">
          <mat-icon>view_day</mat-icon>
          <h5>Planos em andamento</h5>
        </div>
        <div class="conteudoItemSemaforo">
          {{listaQtdPlanosPorStatus ? listaQtdPlanosPorStatus.andamento : ''}}
        </div>
      </li>
      <li class="itemSemaforo planosConcluidos">
        <div class="tituloItemSemaforo">
          <mat-icon>done</mat-icon>
          <h5>Planos concluídos</h5>
        </div>
        <div class="conteudoItemSemaforo">
          {{listaQtdPlanosPorStatus ? listaQtdPlanosPorStatus.concluidos : ''}}
        </div>
      </li>
      <li class="itemSemaforo planosSuspensos">
        <div class="tituloItemSemaforo">
          <mat-icon>pause_circle_outline</mat-icon>
          <h5>Planos suspensos</h5>
        </div>
        <div class="conteudoItemSemaforo">
          {{listaQtdPlanosPorStatus ? listaQtdPlanosPorStatus.suspensos : ''}}
        </div>
      </li>
      <li class="itemSemaforo planosCancelados">
        <div class="tituloItemSemaforo">
          <mat-icon>cancel</mat-icon>
          <h5>Planos cancelados</h5>
        </div>
        <div class="conteudoItemSemaforo">
          {{listaQtdPlanosPorStatus ? listaQtdPlanosPorStatus.cancelados : ''}}
        </div>
      </li>
    </ul>
  </mat-expansion-panel>
</div>
<div class="centerItemContainer">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <div class="tituloContainer">
        <mat-icon>people</mat-icon>
        <h4>Quantidade de planos por pessoa</h4>
      </div>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSource" class="tabelaPlanoPorPessoas">
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img #avatarIcon (error)="onErrorAvatar(avatarIcon)" class="avatarResponsavel" src="{{element.avatar}}"
            alt="Responsável">
        </td>
      </ng-container>
      <ng-container matColumnDef="responsaveis" sticky>
        <th class="hide-ss hide-ms" mat-header-cell *matHeaderCellDef> Responsável </th>
        <td class="font-ss tdResponsavel hide-ss hide-ms" mat-cell *matCellDef="let element">
          {{element.nome}}
          <br>
          <a class="linkEmail" href="mailto:">{{element.email}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="andamento">
        <th mat-header-cell *matHeaderCellDef> Andamento </th>
        <td mat-cell *matCellDef="let element">
          {{element.andamento}}
        </td>
      </ng-container>
      <ng-container matColumnDef="concluidos">
        <th mat-header-cell *matHeaderCellDef> Concluídos </th>
        <td mat-cell *matCellDef="let element">
          {{element.concluidos}}
        </td>
      </ng-container>
      <ng-container matColumnDef="suspensos">
        <th mat-header-cell *matHeaderCellDef> Suspensos </th>
        <td mat-cell *matCellDef="let element">
          {{element.suspensos}}
        </td>
      </ng-container>
      <ng-container matColumnDef="cancelados">
        <th mat-header-cell *matHeaderCellDef> Cancelados </th>
        <td mat-cell *matCellDef="let element">
          {{element.cancelados}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="paginadorPlanoPorPessoas" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </mat-expansion-panel>
</div>
<app-footer></app-footer>