<div class="centerItemContainer">
    <mat-card class="header">
        <h1>Planos</h1>
        <div class="btnAdd" mat-button (click)="abrirCriarPlanoDialog()">
            <mat-icon>add</mat-icon>
        </div>
        <mat-chip-list class="opcoesPlanos">
            <mat-chip color="primary" selected="false" (click)="abrirTiposPlanoDialog()">
                <mat-icon>list</mat-icon>
                Tipos de plano
            </mat-chip>
            <mat-chip color="primary" selected="false" (click)="abrirResponsaveisDialog()">
                <mat-icon>people</mat-icon>
                Responsáveis
            </mat-chip>
        </mat-chip-list>
    </mat-card>
</div>
<div class="centerItemContainer" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-progress-bar *ngIf="statusBarraCarregamento === true || planosService.listaPlanos === undefined"
        mode="indeterminate"></mat-progress-bar>
</div>
<div class="centerItemContainer" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="itemListaPlanos" *ngFor="let plano of listaPlanos" cdkDragBoundary=".centerItemContainer"
        cdkDragLockAxis="y" cdkDrag>
        <app-item-lista [value]="plano"></app-item-lista>
    </div>
</div>
<app-footer *ngIf="listaPlanos"></app-footer>