.centerItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 50px 0 50px;
}

.listaPlanos{
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
}

mat-card {
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: #999 solid 5px;
}

.header h1 {
    font-weight: 100;
}

.btnAdd {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: rgb(100, 167, 0);
    color: #FFF;
    position: absolute;
    bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease all .2s;
}

.opcoesPlanos {
    position: absolute;
    bottom: -16px;
    left: 80px;
}

mat-chip {
    cursor: pointer;
}

.btnAdd:hover {
    background-color: rgb(78, 131, 0);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

@media( max-width: 700px ) {
    .centerItemContainer {
        margin: 30px 20px 0 20px;
    }

    .hide-ss {
        display: none;
    }
}

@media( max-width: 730px ) {
    .hide-sm {
        display: none;
    }
}