/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
    font-family: 'open-sans', sans-serif;
}

html body {
    margin: 0;
    padding: 0;
}